<div class="p-6 flex flex-col w-full">
  <h1 class="text-2xl font-bold mb-4">Apicultores</h1>
  <div class="flex justify-between items-center mb-4 flex-wrap gap-4 bg-white p-3 rounded shadow">


    <div class="w-full max-w-md flex items-center gap-4">
      <app-search-bar [label]="'Buscar producto'" [placeholder]="'Escribe aquí...'" [value]="searchTerm"
        (valueChange)="onSearchChange($event)">
      </app-search-bar>

      <select
        class="border border-gray-300 rounded px-3 py-2 text-gray-700 focus:outline-none focus:ring-2 focus:ring-blue-500 mt-6 ml-8"
        [(ngModel)]="estadoFiltro" (ngModelChange)="paginaActual = 1">
        <option value="todos">Todos</option>
        <option value="activos">Activos</option>
        <option value="inactivos">Inactivos</option>
      </select>
    </div>


    <div class="flex gap-8 mt-4 mr-6 ">
      <app-button label="Descargar" [title]="'Descargar datos'" [bgColor]="'bg-green-600'"
        [hoverColor]="'hover:bg-green-700'" [size]="'md'" (clicked)="onDownload()">
        <span icon class="material-symbols-outlined">sim_card_download</span>
      </app-button>

      <app-button label="Agregar" [title]="'Agregar Apicultores'" [bgColor]="'bg-yellow-500'"
        [hoverColor]="'hover:bg-yellow-700'" [size]="'md'" (click)="openModal()">
        <span icon class="material-symbols-outlined">add_2</span>
      </app-button>
    </div>
  </div>




  <!-- Tabla de Apicultores -->
  <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">

    <app-table [columnas]="columnas" [data]="paginados" [templateAcciones]="accionesTemplate"></app-table>
    <ng-template #accionesTemplate let-apicultor>
      <button class="text-blue-600 hover:underline" (click)="editar(apicultor)">
        <span class="material-symbols-outlined">edit_square</span>
      </button>


      <!-- Mostrar botón según estado y filtro -->
      <button *ngIf="estadoFiltro === 'activos' || (estadoFiltro === 'todos' && apicultor.activo)"
        class="text-red-500 hover:underline" [title]="'Baja apicultor'" (click)="cambiarEstado(apicultor, false)">
        <span class="material-symbols-outlined">delete</span>
      </button>

      <button *ngIf="estadoFiltro === 'inactivos' || (estadoFiltro === 'todos' && !apicultor.activo)"
        class="text-green-600 hover:underline" [title]="'Activar apicultor'" (click)="cambiarEstado(apicultor, true)">
        <span class="material-symbols-outlined">
          check
        </span>
      </button>
    </ng-template>


  </div>

  <!-- Paginación -->
  <app-paginacion [paginaActual]="paginaActual" [totalPaginas]="totalPaginas" (cambiarPagina)="cambiarPagina($event)">
  </app-paginacion>

  <app-footer></app-footer>
  <!-- Modal Add Apicultor -->
  <app-modal [isOpen]="isModalAddOpen" (closeModal)="closeModal()" [title]="'Agregar Apicultor'">

    <h3 modal-title class="text-lg font-semibold text-gray-900 dark:text-white">
      Agregar Apicultor
    </h3>

    <form>
       <div>
          <label class="block text-gray-800 mb-1" for="nombre">Nombre:</label>
          <input type="text" placeholder="Nombre" class="w-full p-2 border border-gray-400 rounded mb-2 text-gray-600" required />
       </div>

       <div>
        <label class ="block text-gray-800" for="curp">Curp:</label>
        <input type="text" placeholder="Curp" class="w-full p-2 border border-gray-400 rounded mb-2 text-gray-600" required />
       </div>
       
      
      <!-- Botón de acción -->
      <app-button label="Guardar" [type]="'submit'" [title]="'Guardar Apicultor'" [bgColor]="'bg-yellow-500'"
        [hoverColor]="'hover:bg-yellow-700'" [size]="'sm'" (clicked)="addApicultor()">
      </app-button>
    </form>

  </app-modal>

</div>