<div class="h-screen w-64 bg-white shadow-lg flex flex-col overflow-y-auto">
  <!-- Logo -->
<div class="flex items-center justify-center px-4 py-3">
  <img src="images/OaxacaMiel_Logo.jpg" alt="Logo" class="w-full max-w-[160px] h-auto" />
</div>

  <!-- Navigation -->
  <nav class="flex-1 mt-2">
    <ul class="text-sm font-medium text-gray-700">
      <li>
<a [routerLink]="['/home/dashboard']" routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
  <img src="assets/icons/dashboard.svg" class="w-5 h-5 mr-6" />
  Dashboard
</a>
      </li>
      <li>
        <a [routerLink]="['/home/apicultores'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Apicultores
        </a>
      </li>
            <li>
        <a [routerLink]="['/home/apiarios'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Apiarios
        </a>
      </li>
            <li>
        <a [routerLink]="['/home/acopiadores'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Acopiadores
        </a>
      </li>
                <li>
        <a [routerLink]="['/home/transportes'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Transportes
        </a>
      </li>
           <li>
        <a [routerLink]="['/home/usuarios'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Usuarios
        </a>
      </li>
           <li>
        <a [routerLink]="['/home/entradas'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Entradas
        </a>
      </li>
           <li>
        <a [routerLink]="['/home/catalogos'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Catálogos
        </a>
      </li>
           <li>
        <a [routerLink]="['/home/utilerias'] " routerLinkActive="bg-amber-500 text-white"
   class="flex items-center px-4 py-3 hover:bg-amber-100 rounded  font-stretch-normal">
          <img src="assets/icons/apicultores.svg" class="w-5 h-5 mr-2" />
          Utilerías
        </a>
      </li>

    </ul>
  </nav>

  <!-- Ilustración -->
<div class="px-10 py-6">
  <img src="images/help.jpg" alt="Help" class="w-full object-contain max-h-32" />
</div>

  <!-- Cerrar sesión -->
  <div class="px-4 pb-6">
    <button class="flex items-center text-sm text-gray-600 hover:text-red-500">
      <svg class="w-5 h-5 mr-2" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
        <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7m6 4v1a2 2 0 01-2 2H7a2 2 0 01-2-2V7a2 2 0 012-2h4a2 2 0 012 2v1" />
      </svg>
      Cerrar Sesión
    </button>
  </div>



