<div class="p-6 flex flex-col w-full">
  <h1 class="text-2xl font-bold mb-6">Dashboard Admin</h1>

  <!-- KPIs -->
  <div class="grid grid-cols-3 gap-4 mb-8">
        <div class="bg-blue-500 text-white p-4 rounded-lg">
      <div class="text-xl font-bold">500</div>
      <div>Acopiador</div>
    </div>
    <div class="bg-red-400 text-white p-4 rounded-lg">
      <div class="text-xl font-bold">450</div>
      <div>Apicultores</div>
    </div>
    <div class="bg-orange-500 text-white p-4 rounded-lg">
      <div class="text-xl font-bold">800</div>
      <div>Apiarios</div>
    </div>
        <div class="bg-amber-500 text-white p-4 rounded-lg">
      <div class="text-xl font-bold">1,200</div>
      <div>Miel</div>
    </div>

  </div>

  <!-- Charts -->
<!--   <div class="grid grid-cols-2 gap-6">
 
    <div class="bg-white shadow p-4 rounded">
      <h2 class="text-lg font-semibold mb-2">My Daily Activities</h2>
      <canvas id="pieChart"></canvas>
    </div> 

    <div class="bg-white shadow p-4 rounded">
      <h2 class="text-lg font-semibold mb-2">Bar Chart</h2>
      <canvas id="barChart"></canvas>
    </div>
  </div>  -->
    <app-footer></app-footer> 
   
</div>
