<div class="p-6 flex flex-col w-full">
        <h1 class="text-2xl font-bold mb-4">Apiarios</h1>
        <div class="flex justify-between items-center mb-4 flex-wrap gap-4 bg-white p-3 rounded shadow">
                <div class="w-full max-w-md flex items-center gap-4">
                        <app-search-bar [label]="'Buscar Apiario'" [placeholder]="'Escribe aquí...'"
                                [value]="searchTerm" (valueChange)="onSearchChange($event)">
                        </app-search-bar>
                </div>

                <div class="flex gap-8 mt-4 mr-6 ">
                        <app-button label="Descargar" [title]="'Descargar datos'" [bgColor]="'bg-green-600'"
                                icon="sim_card_download" [labelColor]="'text-white'" [hoverColor]="'hover:bg-green-700'"
                                [size]="'md'" (clicked)="ExelDownload()">

                        </app-button>

                        <app-button label="Agregar" [title]="'Agregar Apicultores'" [bgColor]="'bg-yellow-500'"
                                icon="add_2" [labelColor]="'text-white'" [hoverColor]="'hover:bg-yellow-700'"
                                [size]="'md'" (click)="openModal()">
                        </app-button>
                </div>
        </div>
        <div class="relative overflow-x-auto shadow-md sm:rounded-lg ">
                <app-table [columnas]="columnas" [data]="paginados" [templateAcciones]="accionesTemplate"></app-table>
                <ng-template #accionesTemplate let-apiarios>
                        <button class="text-blue-600 hover:underline" (click)="updateModal(apiarios)">
                                <span class="material-symbols-outlined">edit_square</span>
                        </button>
                </ng-template>
        </div>
        <app-paginacion [paginaActual]="paginaActual" [totalPaginas]="totalPaginas"
                (cambiarPagina)="cambiarPagina($event)">
        </app-paginacion>

        <app-footer></app-footer>


        <app-modal [isOpen]="isModalAddOpen" (closeModal)="closeModal()" [title]="'Agregar Apicultor'">
                <form [formGroup]="agregarApiarioForm" (ngSubmit)="agregarApiario()" class="space-y-4">

                        <!-- Contenedor grid para los campos -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <!-- Campos existentes -->

                      <!--           <div>
                                        <label for="nombreApiario" class="block text-gray-800 mb-1 font-medium">Nombre
                                                del Apiarios:</label>
                                        <input type="text" id="nombreApiario" placeholder="Nombre del Apiario"
                                                formControlName="nombreApiario"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                required />
                                </div> -->

                                <div>
                                        <label for="curp" class="block text-gray-800 mb-1 font-medium">Nombre del
                                                Apiario:</label>
                                        <input type="text" id="nombreApiario" placeholder="Nombre del Apicultor"
                                                formControlName="nombreApiario"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                required />
                                </div>

                                <div>
                                        <label for="colmenas" class="block text-gray-800 mb-1 font-medium">N° de
                                                Colmenas:</label>
                                        <input type="number" id="colmenas" placeholder="N° colmenas"
                                                formControlName="colmenas"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700" />
                                </div>

                                <div>
                                        <label for="latitud"
                                                class="block text-gray-800 mb-1 font-medium">Latitud:</label>
                                        <input type="number" id="latitud" placeholder="latitud"
                                                formControlName="latitud"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                step="0.000001" min="-90" max="90" />
                                </div>
                                <div>
                                        <label for="longitud"
                                                class="block text-gray-800 mb-1 font-medium">Longitud:</label>
                                        <input type="number" id="longitud" placeholder="longitud"
                                                formControlName="longitud"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                step="0.000001" min="-180" max="180" />
                                </div>
                                <div>
                                        <label for="alta" class="block text-gray-800 mb-1 font-medium">Alta:</label>
                                        <input type="datetime-local" id="alta" formControlName="alta"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700" />
                                </div>

                       <div>
                        <label for="id_apicultor" class="block text-gray-800 mb-1 font-medium">Selecciona un Apicultor:</label>
                        <select id="id_apicultor" formControlName="id_apicultor"
                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700">
                        <option value="" disabled >-- Selecciona un apicultor --</option>
                        <option *ngFor="let apicultor of apicultores" [value]="apicultor.idApicultor">
                        {{ apicultor.nombre }}
                        </option>
                        </select>
                        </div>

                        </div>

                        <!-- Botón -->
                        <div class="flex justify-end">
                                <app-button label="Guardar" [type]="'submit'" [title]="'Guardar Apicultor'"
                                        [bgColor]="'bg-yellow-500'" [hoverColor]="'hover:bg-yellow-700'" [size]="'sm'">
                                </app-button>
                        </div>
                </form>
        </app-modal>

        <!-- Modal Update Apiario-->
        <app-modal [isOpen]="isModalUpdateOpen" (closeModal)="closeModalUpdate()" [title]="'Actualizar Apiario'">
                <form [formGroup]="actualizarApiarioForm " (ngSubmit)="editarApiario()" class="space-y-4">

                        <!-- Contenedor grid para los campos -->
                        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
                                <!-- Campos existentes -->

                                <div>
                                        <label for="nombreApiario" class="block text-gray-800 mb-1 font-medium">Nombre
                                                del Apiarios:</label>
                                        <input type="text" id="nombreApiario" placeholder="Nombre del Apiario"
                                                formControlName="nombreApiario"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                required />
                                </div>

                   <!--              <div>
                                        <label for="curp" class="block text-gray-800 mb-1 font-medium">Nombre del
                                                Apicultor:</label>
                                        <input type="text" id="NombreApiario" placeholder="Nombre del Apicultor"
                                                formControlName="NombreApiario"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                required />
                                </div> -->

                                <div>
                                        <label for="colmenas" class="block text-gray-800 mb-1 font-medium">N° de
                                                Colmenas:</label>
                                        <input type="number" id="colmenas" placeholder="N° colmenas"
                                                formControlName="colmenas"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700" />
                                </div>

                                <div>
                                        <label for="latitud"
                                                class="block text-gray-800 mb-1 font-medium">Latitud:</label>
                                        <input type="number" id="latitud" placeholder="latitud"
                                                formControlName="latitud"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                step="0.000001" min="-90" max="90" />
                                </div>
                                <div>
                                        <label for="longitud"
                                                class="block text-gray-800 mb-1 font-medium">Longitud:</label>
                                        <input type="number" id="longitud" placeholder="longitud"
                                                formControlName="longitud"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700"
                                                step="0.000001" min="-180" max="180" />
                                </div>
                                <div>
                                        <label for="alta" class="block text-gray-800 mb-1 font-medium">Alta:</label>
                                        <input type="datetime-local" id="alta" formControlName="alta"
                                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700" />
                                </div>
<div>
                        <label for="id_apicultor" class="block text-gray-800 mb-1 font-medium">Selecciona un Apicultor:</label>
                        <select id="id_apicultor" formControlName="id_apicultor"
                                class="w-full text-sm py-1.5 px-2 border border-gray-400 rounded text-gray-700">
                  <option value="" disabled>-- Selecciona un apicultor --</option>

                        <option *ngFor="let apicultor of apicultores" [value]="apicultor.idApicultor">
                        {{ apicultor.nombre }}
                        </option>
                        </select>
                        </div>

                        </div>

                        <!-- Botón -->
                        <div class="flex justify-end">
                                <app-button label="Guardar" [type]="'submit'" [title]="'Guardar'"
                                        [bgColor]="'bg-yellow-500'" [hoverColor]="'hover:bg-yellow-700'" [size]="'sm'">
                                </app-button>
                        </div>
                </form>
        </app-modal>

</div>